<form method="post" action="{{ path('app_training_evaluation_delete', {'id': training_evaluation.id}) }}" onsubmit="return confirm('Bạn có chắc chắn muốn xóa không?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training_evaluation.id) }}">
    <button class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Xóa
    </button>
</form>
