<!-- Footer -->
<footer class="footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto" style="color: black;">
      <span>&copy; <span id="year"></span> Bản quyền thuộc Đoàn Thanh niên Cộng sản Hồ Chí Minh</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

<!-- JavaScript cập nhật năm tự động -->
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
