{{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success btn-sm mt-3">
        <i class="fas fa-save"></i> {{ button_label|default('Lưu') }}
    </button>
{{ form_end(form) }}
